name: Basic unittests
on:
  push:
    branches:
    - master
    - dev
jobs:
  unittests:
    name: Python ${{ matrix.python-version }} / Django ${{ matrix.django-version }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
        django-version: ['3.2', '4.0', '4.1', '4.2', '5.0', '5.1', '6.0']
        exclude:
          - python-version: '3.13'
            django-version: '3.2'
          - python-version: '3.13'
            django-version: '4.0'
          - python-version: '3.13'
            django-version: '4.1'
    env:
      DJANGO_SETTINGS_MODULE: test_df_config.data.settings
      POETRY_VIRTUALENVS_CREATE: false
    steps:
    - uses: actions/checkout@v4.2.2
    - uses: actions/setup-python@v5.3.0
      with:
        python-version: ${{ matrix.python-version }}
    - run: python3 -m pip install --user 'django==${{ matrix.django-version }}' hypothesis pytest pytest-django tox python-logging-loki gunicorn daphne uvicorn django-minio-storage whitenoise django-redis django-prometheus django-debug-toolbar django-allauth coverage poetry
    - run: python3 -m pytest --doctest-modules --doctest-glob=df_config/*.py --doctest-glob=df_config/**/*.py
